input[type="radio"] {
  position: fixed;
  left: -100px;
}

input:not([type="radio"]) {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #fff;
  display: block;
  transition: 300ms ease;
  border-radius: 7px;
  border: 0;
  max-height: 0;
  margin: 0;
  padding: 0 10px;
  overflow: hidden;
  width: 250px;
  opacity: 0;
  font-size: 16px;
  text-align: center;
  outline: 0;
}

[id="sign-in"]:checked ~ input.sign-in,
[id="sign-up"]:checked ~ input.sign-up,
[id="reset"]:checked ~ input.reset {
  max-height: 40px;
  padding: 10px;
  margin: 10px 0;
  opacity: 1;
}

button {
  width: 250px;
  height: 40px;
  border-radius: 7px;
  background-color: #16a085;
  font-size: 0;
}
button:before {
  font-size: 16px;
}

[id="sign-in"]:checked ~ button:before {
  content: 'Sign In';
}

[id="sign-up"]:checked ~ button:before {
  content: 'Sign Up';
}

[id="reset"]:checked ~ button:before {
  content: 'Reset password';
}

label {
  position: relative;
  display: inline-block;
  text-align: center;
  font-weight: 700;
  cursor: pointer;
  color: #16a085;
  transition: 300ms ease;
  width: calc(100% / 3 - 4px);
}
label:after {
  content: '';
  
  position: absolute;
  bottom: -10px;
  left: calc(50% - 10px);
  transition: inherit;
}

[id="sign-in"]:checked ~ [for="sign-in"],
[id="sign-up"]:checked ~ [for="sign-up"],
[id="reset"]:checked ~ [for="reset"] {
  color: #fff;
}
[id="sign-in"]:checked ~ [for="sign-in"]:after,
[id="sign-up"]:checked ~ [for="sign-up"]:after,
[id="reset"]:checked ~ [for="reset"]:after {
  
}

.flex-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 300px;
  text-align: center;
}

body {
  background-color: #1abc9c;
  font-size: 16px;
}
